# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [122]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')
chipo.item_price = chipo.item_price.str.replace('$','').astype(float)
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### Step 4. How many products cost more than $10.00?

In [151]:
c = chipo.drop_duplicates(['item_name','quantity'])
c = c[(c['item_price'] > 10.00) & (c['quantity'] == 1)]
price = c
c.item_name.nunique()

12

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [153]:
price[['item_name','item_price']]

                  item_name  item_price
5              Chicken Bowl       10.98
7             Steak Burrito       11.75
39            Barbacoa Bowl       11.75
57           Veggie Burrito       11.25
62              Veggie Bowl       11.25
168   Barbacoa Crispy Tacos       11.75
186       Veggie Salad Bowl       11.25
250           Chicken Salad       10.98
606        Steak Salad Bowl       11.89
738       Veggie Soft Tacos       11.25
1132    Carnitas Salad Bowl       11.89
1229    Barbacoa Salad Bowl       11.89

### Step 6. Sort by the name of the item

In [194]:
chipo.sort_values(by='item_name').head(10)

      order_id  quantity          item_name choice_description  item_price
3389      1360         2  6 Pack Soft Drink        [Diet Coke]       12.98
341        148         1  6 Pack Soft Drink        [Diet Coke]        6.49
1849       749         1  6 Pack Soft Drink             [Coke]        6.49
1860       754         1  6 Pack Soft Drink        [Diet Coke]        6.49
2713      1076         1  6 Pack Soft Drink             [Coke]        6.49
3422      1373         1  6 Pack Soft Drink             [Coke]        6.49
553        230         1  6 Pack Soft Drink        [Diet Coke]        6.49
1916       774         1  6 Pack Soft Drink        [Diet Coke]        6.49
1922       776         1  6 Pack Soft Drink             [Coke]        6.49
1937       784         1  6 Pack Soft Drink        [Diet Coke]        6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [179]:
chipo.sort_values(by='item_price',ascending=False)['quantity'].head(1)

3598    15
Name: quantity, dtype: int64

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [185]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl']['order_id'].count()

18

### Step 9. How many times people orderd more than one Canned Soda?

In [211]:
chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64